* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'baker', serif;
  src: url(./fonts/Fontspring-DEMO-baskervilleurwnar-regobl.otf);
}

/* @font-face{
  font-family: 'Montserrat',sans-serif;
  src: url(./fonts/Montserrat-Bold.ttf);
}
@font-face{
  font-family: 'Montserrat-reg',sans-serif;
  src: url(./fonts/Montserrat-Regular.ttf);
} */
h1, h2, h3, p {
  text-rendering: optimizeLegibility;
  color: #1d1d1d;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2rem;
}

h3 {
  font-family: 'baker', serif;
  font-weight: 400;
  /* letter-spacing: 0.2em; */
  line-height: 1.2em;
  font-size: 21px;
  font-style: italic;
}

.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 10vh;
  /* border:1px solid red; */
  background: white;
  background: #9F91CC;
}

.header-container {
  display: flex;
  width: 90%;
  height: 100%;
  /* padding:0 56px; */
  margin: auto;
  position: relative;
}

.top-left, .top-center, .top-right {
  display: flex;
  position: relative;
  flex: 1 1 0px;
}

.branding {
  /* max-width: 10vh; */
  /* max-height: 8.8vh; */
  height: 8.8vh;
  /* padding: .1rem 0; */
  /* margin-top:5px; */
  margin: auto 0;
  position: relative;
  /* margin-left: 5%; */
}

.branding h2 {
  font-size: 1rem;
}

.branding a {
  text-decoration: none;
  color: black;
}

.branding img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  /* display: grid;
  place-items:center; */
}

.top-center {
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: .75rem;
  font-weight: 400;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  /* gap:10px; */
  padding: 5px 24px;
  line-height: 1rem;
}

.nav-links {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: .2rem;
  margin: 0 0.618em;
  padding: 0.618em 0;
  text-decoration: none;
  transition: .3s ease;
  /* color:black; */
  color: #1d1d1d;
}

.nav-links.active {
  color: black;
}

.nav-links.fade {
  opacity: 0.4;
}

.top-right {
  align-items: center;
  justify-content: flex-end;
}

.social {
  font-size: 1.5rem;
  display: flex;
  gap: 15px;
  /* width:30%; */
}

.social i {
  transition: .3s ease;
  cursor: pointer;
}

.social i.active {
  opacity: .4;
}

#hero {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  top: 10vh;
}

.swiper {
  width: 100%;
  height: 70vh;
}

.swiper-wrapper {
  height: 90%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 65vh;
  /* width: 80%; */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s ease;
}

.swiper-slide img:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.swiper-button-next, .swiper-button-prev {
  color: #1d1d1d;
}

.hero-desc {
  display: flex;
  flex-direction: column;
  width: 83%;
  text-align: center;
  margin: auto;
  line-height: 1.8;
  margin: .5% auto;
}

.hero-desc h2 {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: .7rem;
  /* line-height: 1.4; */
  color: red;
}

.hero-desc h3 {
  letter-spacing: 0.02rem;
  letter-spacing: normal;
  font-style: italic;
  font-weight: 400;
  margin-top: -10px;
  font-size: 21px;
}

.hero-desc button {
  width: 200px;
  height: 40px;
  margin: 1% auto auto;
  border: none;
  background: #b98580;
  background: #974EC39a;
  background: #9F91CC;
  background: #974EC3;
  color: white;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 1.2rem;
  transition: 0.3s ease;
}

.hero-desc button:hover {
  cursor: pointer;
  opacity: 0.8;
}

#about {
  width: 100%;
  position: relative;
  padding: 2rem 0;
  margin-top: 8%;
  /* margin-bottom: -5%; */
  background: #f2eeed;
}

.about-container {
  width: 80%;
  margin: auto;
  position: relative;
}

.about-flex {
  display: flex;
}

.stroke {
  position: absolute;
  z-index: 0;
  width: 50%;
  left: 40%;
  top: 15%;
  opacity: .6;
}

.person {
  position: relative;
  display: flex;
}

.person img {
  width: 80%;
}

.about-person {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 80%;
  padding: 2rem;
}

.about-person h2 {
  padding: 2rem 0;
  font-size: 5rem;
  opacity: 0.5;
  position: relative;
  left: -30%;
  margin-bottom: 5%;
  /* bottom:35%; */
}

.about-person h3 {
  font-size: 2rem;
  font-style: normal;
}

.about-person p {
  font-family: 'baker', serif !important;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 0.02rem;
  font-size: 1.2rem;
  position: relative;
  line-height: 1.5;
  padding-top: 3rem;
  opacity: 0.9;
}

/* .swiper-pagination{
  top: 15%;
} */
#look-book {
  width: 100%;
  margin: auto;
  display: grid;
  place-items: center;
}

#look-book .title {
  padding: 3rem 0;
}

#look-book h2 {
  font-size: 2rem;
  text-align: center;
  padding-top: 3rem;
}

.look-holder {
  display: flex;
  flex-direction: column;
  /* width:83.3%; */
  flex-wrap: wrap;
  height: 100%;
  margin: 5% auto;
}

.look-desc {
  text-align: left !important;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
  margin: auto;
  justify-content: center;
  align-items: flex-start;
  padding: 0 17px;
}

.look-desc h2 {
  text-transform: uppercase;
  font-size: 20px !important;
  letter-spacing: 0.5rem;
}

.look-desc h3 {
  font-size: 21px;
  letter-spacing: 0.02rem;
}

.look-desc h3:nth-of-type(2) {
  margin-left: 1.5rem;
}

.look-desc p {
  font-family: 'baker';
  /* line-height: 1.8; */
  /* display: block; */
}

.look-desc ul {
  margin-left: 1.75rem;
}

.look-desc ul li {
  margin: 0.5rem auto;
  font-size: 18px;
  letter-spacing: 0.06rem;
  line-height: 1.8;
  font-weight: 400;
  font-style: normal;
  color: #222;
}

.image-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* margin: auto; */
  grid-gap: 10px;
}

.image-wrapper img {
  max-width: 325px;
  height: 100%;
  /* margin:auto 5px; */
  transition: .3s ease;
  cursor: pointer;
}

.image-wrapper img:hover {
  transform: scale(1.02);
}

.image-wrapper .products-desc {
  display: none;
}

#lightbox {
  display: none;
}

#lightbox.active {
  display: block;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, .98);
}

.close {
  font-size: 2rem;
  width:40px;
  position: absolute;
  top: 3%;
  right: 3%;
  cursor: pointer;
  display: grid;
  place-items:center;
  transition: .3s ease;
  font-weight:bold;
}
.close:hover{
  background: red;
  font-weight:normal;
  color:white;
}

.light-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.light-img-holder {
  width: 50%;
  height: 80%;
  position: relative;
  z-index: 100;
  margin: auto;
}

.light-img-holder img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.products-desc {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  height: 80%;
  margin: auto;
}

.products-desc h2 {
  font-size: 1.5rem;
  display: inline-block;
  padding: 1.2rem !important;
  /* height:50%; */
  width: 100%;
}

.products-desc p {
  padding: 0 1rem;
  width: 80%;
  margin: auto;
}

.prev, .next {
  transition: .3s ease;
  opacity: 0.6;
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #1d1d1d;
}

.prev {
  left: 5%;
  transform: translateX(-5%);
}

.next {
  left: 95%;
  transform: translateX(-90%);
}

.prev:hover, .next:hover {
  opacity: 1;
}

#subscribe {
  width: 100%;
  margin: auto;
  display: grid;
  place-items: center;
  margin: 5% auto;
  background: #f2eeed;
  padding: 3rem 0;
}

#subscribe img {
  position: absolute;
  z-index: 0;
}

#subscribe h2 {
  font-size: 3rem;
  z-index: 2;
}

#subscribe h3 {
  z-index: 2;
  padding: 1rem 0 2rem;
}

#subscribe form {
  z-index: 2;
}

#subscribe button {
  width: 150px;
  height: 60px;
  font-family: 'Montserrat', sans-serif;
  background: #b98580;
  background: #800080;
  background: #9F91CC;
  background: #974EC3;
  /* background: #5C4B99; */
  padding: 1rem;
  border: none;
  font-size: 1rem;
  color: white;
  margin-left: .5rem;
  transition: .3s ease;
}

#subscribe button:hover {
  opacity: 0.8;
  cursor: pointer;
}

#subscribe input::placeholder {
  padding-left: .3rem;
  color: rgba(0, 0, 0, .5);
  font-family: 'baker';
  font-size: 1.1rem;
}

form {
  padding: 1rem;
}

form input {
  height: 3.5rem;
  width: 300px;
  height: 55px;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, .3);
  padding-left: 1rem;
  /* padding:.2rem; */
}

.toggle-button {
  display: none;
}

/* footer section*/
#footer{
  width:100%;
  position: relative;
  text-align:center;
}

#footer h2{
line-height: 1.8;
letter-spacing: 0.75rem;
}
#footer h3{
  font-weight: 300;
  color:#1d1d1d;
  font-style: italic;
  letter-spacing: 0.01rem!important;
  line-height: 1.8;
}
.instagram-holder{
  width: 100%;
  height: 200px;
}
.footer-socials{
  width:50%;
  margin: auto;

}
.footer-socials .social{
  margin: auto!important;
  justify-content: center;
  font-size: 2rem!important;
}
.footer-copy{
  padding:1rem 0;
}
.footer-copy h3{
  font-size: 1rem;
  font-weight: 400!important;
line-height: 1.8;
}
.footer-copy ul li{
  display: inline;
  font-family: 'baker'!important;
  font-size: 1.2rem;
  font-weight: 400!important;
  margin: auto 10px;
  padding:0 .5rem;
}
.footer-copy a{
  text-decoration: none;
  color:#1d1d1d;
}
@media (min-width:300px) and (max-width:676px){

  .swiper{
    /* height: 60vh!important; */
  }
  .swiper-slide{
    margin: auto;
    height: 80%!important;
  }
  #about{
    margin-top: 35%;
  }
  .about-container{
    width: 100%;
  }
  .about-flex{
    flex-direction: column;
  }
  .about-person{
    width: 100%;
  }
  .person{
    width: 70%;
    margin: auto;
  }
  .person img{
    /* width: 100%; */
    height: 40%;
  }
  .stroke{
    width: 85%;
left: 6%;
top: 50%;
  }
  .about-person h2{
    font-size: 3rem;
  }
  .about-person h3{
    font-size: 1.5rem;
  }

  .image-wrapper{
    grid-template-columns: repeat(1,1fr);
  }
  form input{
    width:150px;
  }
  form button{
    width:25%;
  }
  #subscribe h3{
    font-size: 1rem;
    width: 60%;
  }
}
@media (min-width:677px) and (max-width:1200px){
  .header{
    height: 90px;
  }
  #hero{
    top:15vh!important;
  }
  .branding{
  display: flex;
  }
  .image-wrapper{
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width:1000px) {
  #look-book {
    width: 100vw;
    /* overflow: hidden; */
  }

  #subscribe {
    width: 100vw;
    /* position: relative; */
  }

  #subscribe img {
    /* position: absolute; */
    width: 100%;
  }

  .toggle-button {
    display: block;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-5%, -50%);
    cursor: pointer;
    z-index: 10000;
    transition: 0.5s ease;
  }

  .toggle-button.active {
    left: 92%;
    background: red;
  }

  .top-center {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    /* width: 100vw; */
    left: -100%;
    background: white;
    transition: 0.3s ease;
  }

  .top-center.active {
    left: 0 !important;
    width: 100%;
    background: #9F91CC;
  }

  .toggle-button.active .bar:nth-child(2) {
    opacity: 0;
  }

  .toggle-button.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    /* background-color: #FFC23C; */
  }

  .toggle-button.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    /* background-color: #FFC23C; */
  }

  .header-container {
    flex-direction: column;
    width: 100%;
  }

  .top-left {
    display: flex;
    justify-content: center;
  }

  .nav-bar {
    flex-direction: column;
    font-size: 1.5rem;
    width: 100%;
  }

  .nav-links {
    width: 100%;
    display: block;
  }

  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
    /* padding: .3rem; */
  }

  .top-right {
    display: none;
  }
}

@media (hover:none) {
  .toggle-button {
    cursor: default;
  }
}
